#--------OAuth2.0 Client Configuration---------
scope=
grant_type=client_credentials
client_id=sb-TelcoBigData-TEST-ui!t96
client_secret=wNuT6LEmyNk4MfQiL/vs5AuUCtA=
access_token=
authentication_server_url=https://xsuaa-monitoring-idp.cfapps.sap.hana.ondemand.com/gettoken
#------------------------------------------------






















